In [183]:
%reset -f
import pandas as pd
import requests
import json
from collections import defaultdict

In [184]:
# api endpoints
url = 'https://fantasy.premierleague.com/api/bootstrap-static/'
fixtures = 'https://fantasy.premierleague.com/api/fixtures/'

In [185]:
# making requests
response = requests.get(url)
fixtures = requests.get(fixtures).json()

# check status
if response.status_code == 200:
    print('The API request was successful.')
else:
    print(f'Error: The API request failed with status code {response.status_code}.')

The API request was successful.

In [186]:
# mapping teams
teams = response.json()['teams']
team_mapping = {}

for team in teams:
    team_mapping[team['id']] = team['name']

In [187]:
# team difficulty - start of season
team_difficulty = {
    "Arsenal": 6,
    "Aston Villa": 4, 
    "Bournemouth": 2,
    "Brentford": 4,
    "Brighton": 5,
    "Burnley": 1,
    "Chelsea": 4,
    "Crystal Palace": 3,
    "Everton": 2,
    "Fulham": 3, 
    "Liverpool": 6,
    "Luton": 1,
    "Man City": 7,
    "Man United": 5,
    "Newcastle": 5,
    "Nott'm Forest": 3,
    "Sheffield Utd": 1,
    "Spurs": 5,
    "West Ham": 4, 
    "Wolves": 2
}

In [188]:
freq = defaultdict(int)
for v in team_difficulty.values():
    freq[v] += 1
    
df = pd.DataFrame.from_dict(freq, orient='index', columns=['Count'])
df.index.name = 'Difficulty'
df = df.sort_index(ascending=False)

df

            Count
Difficulty
7               1
6               2
5               4
4               4
3               3
2               3
1               3

In [189]:


#print(json.dumps(fixtures, indent=4, sort_keys=True))

In [190]:
for match in fixtures:
    if 'event' not in match or match['event'] is None:
        continue
    elif match['event'] >= 1 and match['event'] <= 4:
        print(f"GW {match['event']}: Home: {team_mapping[match['team_h']]} Away:{team_mapping[match['team_a']]}")
        # s = pd.Series([match['team_a'], match['team_h']], 
        #               index=['team_a', 'team_h'], 
        #               name=match['event'])
        # df = df.append(s)

# df = df.reset_index().pivot(index='index', columns='level_1', values=0)
# df.columns.name = None
# df.index.name = 'event'

GW 1: Home: Burnley Away:Man City
GW 1: Home: Arsenal Away:Nott'm Forest
GW 1: Home: Bournemouth Away:West Ham
GW 1: Home: Brighton Away:Luton
GW 1: Home: Everton Away:Fulham
GW 1: Home: Sheffield Utd Away:Crystal Palace
GW 1: Home: Newcastle Away:Aston Villa
GW 1: Home: Brentford Away:Spurs
GW 1: Home: Chelsea Away:Liverpool
GW 1: Home: Man Utd Away:Wolves
GW 2: Home: Nott'm Forest Away:Sheffield Utd
GW 2: Home: Fulham Away:Brentford
GW 2: Home: Liverpool Away:Bournemouth
GW 2: Home: Wolves Away:Brighton
GW 2: Home: Spurs Away:Man Utd
GW 2: Home: Man City Away:Newcastle
GW 2: Home: Aston Villa Away:Everton
GW 2: Home: West Ham Away:Chelsea
GW 2: Home: Crystal Palace Away:Arsenal
GW 3: Home: Chelsea Away:Luton
GW 3: Home: Bournemouth Away:Spurs
GW 3: Home: Arsenal Away:Fulham
GW 3: Home: Brentford Away:Crystal Palace
GW 3: Home: Everton Away:Wolves
GW 3: Home: Man Utd Away:Nott'm Forest
GW 3: Home: Brighton Away:West Ham
GW 3: Home: Burnley Away:Aston Villa
GW 3: Home: Sheffield Utd Away:Man City
GW 3: Home: Newcastle Away:Liverpool
GW 4: Home: Luton Away:West Ham
GW 4: Home: Sheffield Utd Away:Everton
GW 4: Home: Brentford Away:Bournemouth
GW 4: Home: Burnley Away:Spurs
GW 4: Home: Chelsea Away:Nott'm Forest
GW 4: Home: Man City Away:Fulham
GW 4: Home: Brighton Away:Newcastle
GW 4: Home: Crystal Palace Away:Wolves
GW 4: Home: Liverpool Away:Aston Villa
GW 4: Home: Arsenal Away:Man Utd